kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
  name: fast
provisioner: kubernetes.io/azure-disk
parameters:
  skuName: Premium_LRS
  location: DEPLOYMENT_LOCATION
  storageAccount: DEPLOYMENT_PREFIX