.dash-card {
  padding-bottom: 5px;
  background-color: inherit!important;
  margin-bottom: 8px;
}
  .dash-card > div > div > div {
    height: inherit;
  }

.card-header {
   padding-top: 0px;
   padding-bottom: 0px;
}
  .dash-card .card-header {
    height: auto;
    width: 100%;
  }
  .recharts-wrapper{
    margin-top: -20px;
  }
  .card-header > div > span{ 
    color: #fff!important;
    text-transform: uppercase;
    font-size: 12px!important;
    font-weight: 800;
  }
  .dash-card .card-header div {
    padding-right: 0 !important;
    width: 100%;
  }  
  .dash-card .card-header button {
    top: 0;
    right: 0;
    float: right;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
  }

    .dash-card .card-header button svg {
      color: rgb(85, 85, 85) !important;
    }

    .dash-card .card-header button.active svg {
      color: rgb(106, 27, 154) !important;
    }

    .dash-card .card-header button:hover svg {
      color: blueviolet !important;
    }

.dash-card-list {
  padding-top: 0px;
  padding-bottom: 5px;
}

.recharts-legend-item-text{
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.recharts-default-legend{
  margin-bottom: 8px!important;
  font-size: 10px;
}

.recharts-legend-item{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-tooltip {
  width: 200px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #f5f5f5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.custom-tooltip  .label {
  margin: 0;
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}
.custom-tooltip  .desc {
  margin: 0;
  color: #999;
}
.custom-tooltip  .intro {
  border-top: 1px solid #f5f5f5;
  margin: 0;
}