.adminContainer {
    padding: 1em 1em 0 1em;
}

.addSiteButton{
    margin-left: 4px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

label span {
  color: #F00;
}

input.settings.secret {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}

input.settings:valid,
input.settings:in-range {
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
    border-color:hsl(120, 50%, 50%);
}

input.settings:invalid,
input.settings:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
}

.leaflet-select-control {
    background: #ffffff;
    padding: 5px;
    cursor: pointer;
}
.leaflet-select-control:active,
.leaflet-select-control.active {
    background: #cccccc;
}
.leaflet-select-control .icon {
    width: 15px;
    height: 15px;
    display: block;
    background: url('../../images/select.png') no-repeat;
}

.loadingPage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loadingPage > * {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loadingPage p {
    color: #ccc;
}

.leaflet-control-layers-expanded{
    padding: 6px 8px;
    font: 10px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.5);
    box-shadow: -2px 0 8px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.leaflet-control-layers-overlays div {
    height: auto;
    clear: both;
    min-height: 20px;
    margin-bottom: 4px;
    margin-right: 5px;
    min-width: 140px;
    padding: 2px;
    background: rgb(63, 63, 79);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
}

.leaflet-control-layers-overlays span {
    color: rgb(51, 122, 183);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
}

.leaflet-control-layers-overlays label {
    display: block;
    white-space: nowrap;
    float: none;
    cursor: pointer;
}

.leaflet-control-layers-selector {
    float: right;
    margin: 0px;
    position: relative;
}

.leaflet-marker-iconlabel {
	background: #e6e7e9;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
    color: #333;
	-moz-box-shadow: 0 3px 10px #888;
	 -webkit-box-shadow: 0 3px 14px #999;
	box-shadow: 0 3px 10px #888;
	display: inline-block;
	padding: 4px 6px;
	-ms-user-select: none;
    font-size: 10px;
    font-weight: 600;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.react-grid-Row--odd .react-grid-Cell {
    background-color: #f9f9f9;
}